<a href="https://colab.research.google.com/github/ninjaxmen/hive333/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 31.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=e4b0c5e709c7f261ab207456eafcc1ff52dc4c086b983b8623b54d3040d0a712
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [13]:
df1 = spark.read.option('header', 'true').csv('/content/file.csv', inferSchema=True)

In [14]:
df1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [16]:
df1 = spark.read.csv('/content/file.csv',header=True, inferSchema=True)
df1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [19]:
df1.show()

+-----------------+---+----------+
|             name|age|experience|
+-----------------+---+----------+
|\talbert einstein| 60|        10|
|     isaac newton| 67|         8|
|      marie curie| 80|        25|
|          galilée| 89|       100|
+-----------------+---+----------+

In [25]:
df1.select(['Name', 'age']).show()

+-----------------+---+
|             Name|age|
+-----------------+---+
|\talbert einstein| 60|
|     isaac newton| 67|
|      marie curie| 80|
|          galilée| 89|
+-----------------+---+

In [26]:
df1['name']

Column<'name'>

In [27]:
df1.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [29]:
df1.describe().show()

+-------+-----------------+------------------+----------+
|summary|             name|               age|experience|
+-------+-----------------+------------------+----------+
|  count|                4|                 4|         4|
|   mean|             null|              74.0|     35.75|
| stddev|             null|12.987173159185437|      43.5|
|    min|\talbert einstein|                60|         8|
|    max|      marie curie|                89|       100|
+-------+-----------------+------------------+----------+

In [33]:
df2 =  df1.withColumn('age after 2 years', df1['age'] + 2)

In [34]:
df2.show()

+-----------------+---+----------+-----------------+
|             name|age|experience|age after 2 years|
+-----------------+---+----------+-----------------+
|\talbert einstein| 60|        10|               62|
|     isaac newton| 67|         8|               69|
|      marie curie| 80|        25|               82|
|          galilée| 89|       100|               91|
+-----------------+---+----------+-----------------+

In [36]:
df1 =  df2.drop('age after 2 years').show()

+-----------------+---+----------+
|             name|age|experience|
+-----------------+---+----------+
|\talbert einstein| 60|        10|
|     isaac newton| 67|         8|
|      marie curie| 80|        25|
|          galilée| 89|       100|
+-----------------+---+----------+

In [38]:
df2.withColumnRenamed('Name', 'CoolName').show()

+-----------------+---+----------+-----------------+
|         CoolName|age|experience|age after 2 years|
+-----------------+---+----------+-----------------+
|\talbert einstein| 60|        10|               62|
|     isaac newton| 67|         8|               69|
|      marie curie| 80|        25|               82|
|          galilée| 89|       100|               91|
+-----------------+---+----------+-----------------+

In [46]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [77]:
spark.read.csv('/content/file (1).csv', header=True, inferSchema=True)

DataFrame[name: string, age: string, experience: int, salary: string]

In [75]:
df_pyspark = spark.read.csv('/content/file (1).csv', header=True, inferSchema=True)

In [76]:
df_pyspark.show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [54]:
df_pyspark.drop('name').show()

+----+----------+--------+
| age|experience|  salary|
+----+----------+--------+
|  60|        10|  283874|
|  67|         8|  238238|
|  80|        25|   23834|
|  89|       100| 3847374|
|  23|      2323| 2323232|
| 234|       444|44444444|
|null|      2323|  232323|
|  30|      3323|    null|
+----+----------+--------+

In [55]:
df_pyspark.show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [56]:
df_pyspark.na.drop().show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [59]:
df_pyspark.na.drop(how="any").show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [60]:
df_pyspark.describe().show()

+-------+-----------------+-----------------+------------------+--------------------+
|summary|             name|              age|        experience|              salary|
+-------+-----------------+-----------------+------------------+--------------------+
|  count|                8|                8|                 8|                   8|
|   mean|             null|83.28571428571429|            1069.5|   7341902.714285715|
| stddev|             null|70.75712987799483|1357.1119545353865|1.6423435651820792E7|
|    min|\talbert einstein|               23|                 8|              232323|
|    max|             null|             null|              3323|                null|
+-------+-----------------+-----------------+------------------+--------------------+

In [63]:
df_pyspark.na.drop(how="any", thresh=3).show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [62]:
df_pyspark.na.drop().show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [67]:
df_pyspark.na.fill('Missing Values', ['Experience', 'age']).show()

+-----------------+----+----------+--------+
|             name| age|experience|  salary|
+-----------------+----+----------+--------+
|\talbert einstein|  60|        10|  283874|
|     isaac newton|  67|         8|  238238|
|      marie curie|  80|        25|   23834|
|          galilée|  89|       100| 3847374|
|             null|  23|      2323| 2323232|
|             null| 234|       444|44444444|
|            DeVoe|null|      2323|  232323|
|             Zoom|  30|      3323|    null|
+-----------------+----+----------+--------+

In [88]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=['experience'],
                  outputCols=["{}_imputed".format(c) for c in ['experience']]
                  ).setStrategy("mean")

In [89]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------------+----+----------+--------+------------------+
|             name| age|experience|  salary|experience_imputed|
+-----------------+----+----------+--------+------------------+
|\talbert einstein|  60|        10|  283874|                10|
|     isaac newton|  67|         8|  238238|                 8|
|      marie curie|  80|        25|   23834|                25|
|          galilée|  89|       100| 3847374|               100|
|             null|  23|      2323| 2323232|              2323|
|             null| 234|       444|44444444|               444|
|            DeVoe|null|      2323|  232323|              2323|
|             Zoom|  30|      3323|    null|              3323|
+-----------------+----+----------+--------+------------------+

In [87]:
spark.read.option('header', 'true').csv('/content/file (1).csv', inferSchema=True)

DataFrame[name: string, age: string, experience: int, salary: string]

In [90]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName('dataframe').getOrCreate()

In [97]:
df1 = spark.read.csv('/content/bitcoin_price_1week_Test - Test.csv', header=True, inferSchema=True)
df1.show()

+------------+-------+-------+-------+-------+-------------+--------------+
|        Date|   Open|   High|    Low|  Close|       Volume|    Market Cap|
+------------+-------+-------+-------+-------+-------------+--------------+
|Aug 07, 2017|3212.78|3397.68|3180.89|3378.94|1,482,280,000|52,987,300,000|
|Aug 06, 2017|3257.61|3293.29| 3155.6|3213.94|1,105,030,000|53,720,900,000|
|Aug 05, 2017|2897.63|3290.01|2874.83|3252.91|1,945,700,000|47,778,200,000|
|Aug 04, 2017|2806.93|2899.33|2743.72|2895.89|1,002,120,000|46,276,200,000|
|Aug 03, 2017|2709.56|2813.31|2685.14|2804.73|  804,797,000|44,666,400,000|
|Aug 02, 2017|2727.13|2762.53|2668.59|2710.67|1,094,950,000|44,950,800,000|
|Aug 01, 2017| 2871.3|2921.35|2685.61|2718.26|1,324,670,000|47,321,800,000|
+------------+-------+-------+-------+-------+-------------+--------------+

In [99]:
df1.filter("Open <= 2897.63 ").select(['Open', 'Close']).show()

+-------+-------+
|   Open|  Close|
+-------+-------+
|2897.63|3252.91|
|2806.93|2895.89|
|2709.56|2804.73|
|2727.13|2710.67|
| 2871.3|2718.26|
+-------+-------+